<!DOCTYPE html>
<html lang="en">

<html>

<head>
	<meta charset="utf-8">
	<title>Pluh2020</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<style>
	body,h1 {font-family: "Raleway", sans-serif}
	body, html {height: 100%}
	.bgimg {
	  background-image: url({{ url_for('static', filename='img/travel.jpg') }});
	  min-height: 100%;
	  background-position: center;
	  background-size: cover;
	}
	.the_button {
		background-color: purple;
		text-align: center;
		padding: 7%;
		width: 80%;
	}
	.date {
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}

	input {
		width: 80%
	}

</style>

<body>
	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	  <div class="w3-display-topleft w3-padding-large w3-xlarge">
	    Pluh2020
	  </div>
	  <div class="w3-display-middle" style = "width: 100%">
			<form method="POST" action="/results">
				<input type="hidden" value="6000" name="user_id">
				<div class="w3-row">
					<div class = "w3-hide-small w3-hide-medium">
							<div class="w3-col l1"><br></div>
					</div>
				  <div class="w3-col s12 m5 w3-center">
						<div class = "date">
							<input type="date" name="start_date">
						</div>
						<div class = "date">
							<input type="date" name="end_date">
						</div>
					</div>
					<div class = "w3-hide-large w3-hide-medium">
							<div class="w3-col s12"><br></div>
					</div>
					<div class = "w3-col s12 m5" style = "text-align: center;">
						<button class="w3-button w3-round the_button">Find</button>
					</div>
				</div>
		  </form>
	  </div>
	</div>



</body>

</html>
