<!DOCTYPE html>
<html lang="en">

<html>

<head>
	<meta charset="utf-8">
	<title>Pluh2020</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<style>
	body,h1 {font-family: "Raleway", sans-serif}
	body, html {height: 100%}
	.bgimg {
	  background-image: url({{ url_for('static', filename='img/travel.jpg') }});
	  min-height: 100%;
	  background-position: center;
	  background-size: cover;
	}
	.the_button {
		background-color: purple;
		padding: 40px;
		padding-right: 150px;
		padding-left: 150px;
		font-size: 30px;
		margin-left: 20px;
	}
	.date {
		margin: 20px;
		margin-right: 10px;
	}

</style>

<body>
	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	  <div class="w3-display-topleft w3-padding-large w3-xlarge">
	    Pluh2020
	  </div>
	  <div class="w3-display-middle">
			<form method="POST" action="/">
				<div class = "w3-display-container">
		      <input type="hidden" value="6000" name="user_id">
					<div class = "w3-display-topright date">
						<input type="date" name="start_date">
					</div>
					<div class = "w3-display-bottomright date">
						<input type="date" name="end_date">
					</div>
					<div class = "separator"> </div>
		      <button class="w3-button w3-round-xxlarge w3-display-left the_button">Find</button>
				</div>
		  </form>
	  </div>
	</div>



</body>

</html>
